<?xml version="1.0" encoding="utf-8"?>
<CTestAdapterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CacheDir>C:\Users\TrevorvanHoof\repos\tt_gl_rendering</CacheDir>
  <ActiveConfiguration>Debug</ActiveConfiguration>
  <CTestExecutable />
  <CMakeConfigurationTypes />
  <ReformatNames>true</ReformatNames>
  <CTestRunArguments />
  <TruncateLogLimit>1000</TruncateLogLimit>
</CTestAdapterConfig>